.jumbotron {
    background-image: url("https://media.giphy.com/media/TlK63EDww4g4tXUd0gE/giphy.gif");
    background-size: contain;
    background-size: 50%;
    background-color: azure;
    font-family: 'Monofett', cursive;
    font-size: 75px;
    color:black;
  }

  h1 {
      font-display: 200px;
  }